body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* header style statrts here */
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    background-color: #E3E6F3;
    justify-content: space-around;
    z-index: 100;
}
.header img{
    position: relative;
    top: 20px;
    height: 50px;
    right: 170px;
}
ul{
    position: relative;
    display: flex;
    left: 200px;
    top: 20px;
    gap: 20px;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: lightseagreen;
    text-decoration: underline;
}
.fa-bag-shopping{
    color: black;
}
.fa-bag-shopping:hover{
    color: lightseagreen;
    text-decoration: underline;
}
/* header style ends here */

/* banner1 style starts here */
.banner1{
    width: 100%;
}
.banner1img img{
    position: relative;
    width: 100%;
    height: auto;
    /* bottom: 23px; */
}
.banner1text{
    position:absolute;
    left: 90px;
    top: 100px;
    color: whitesmoke;
}
.banner1text h1{
    font-size: 50px
}
.banner1text h2{
    position: relative;
    bottom: 90px;
    color: black;
    font-size: 80px;
}
.banner1text h3{
    position: relative;
    bottom: 160px;
    color:rgb(28,158,128);
    font-size: 60px;
}
.banner1text h4{
    position: relative;
    bottom: 220px;
    left: 10px;
    color: rgb(41, 91, 123);
    font-size: 15px;
}
.button-image img{
    position: relative;
    /* height: 30px;
    width: 150px; */
    bottom: 230px;
    left: 10px;
}
.button-image p{
    position: relative;
    left: 65px;
    bottom: 293px;
    color:  darkgreen;
    font-weight: bold;
}
/* banner1 style ends here */
/* cards style startrs here */
.cardsPrdoducts{
    display: flex;
    position: absolute;
    /* margin-top: 10px; */
    align-items: center;
    top: 730px;
    gap: 20px;
    width: 100%;
    background-color: white;
    height: 350px;
}

.cardsFeatures1, .cardsFeatures2,.cardsFeatures3,.cardsFeatures4,.cardsFeatures5,.cardsFeatures6{
    margin: 20px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    height: 180px;
}
.cardsFeatures1 img,.cardsFeatures2 img,.cardsFeatures3 img,.cardsFeatures4 img,.cardsFeatures5 img,.cardsFeatures6 img{
   /* margin: 30px; */
   position: relative;
   top: 20px;
}
button{
    /* background-color:rgb(243, 207, 210);*/
     margin:30px 0px 1px 45px;  
    border-style: hidden;
    border-radius:3px; 
    font-size: x-small;
    color: rgb(50, 123, 99);
    font-weight: bold;
    padding: 6px;
    justify-content: center;
}
/* cards style ends here
/* information style starts here */
.info,.info1{
    position: absolute;
    text-align: center;
    left: 530px;
    top: 1000px;
    font-weight: bold;
}
.infoheader h1{
    font-size: 50px;
    font-weight: bold;
}
.infoheader p{
    position: relative;
    font-size: 15px;
    bottom: 50px;
    right: 5px;
    color: rgb(73, 73, 137);
}
/* info style ends here */ 
/* .summershirtsrow1,.summershirtsrow2 style starts here */
.summershirtsrow1,.summershirtsrow2,.summershirtsrow3,.summershirtsrow4{
    position: relative;
    right: 50px;
   display: flex;
   margin: 50px;
   flex-direction: row;
     /* flex-wrap: wrap; */
}
.summershirtsrow3{
    position: absolute;
    top: 2500px;
    margin: 50px;
}
.summershirtsrow4{
    position: absolute;
    top: 2950px;
    margin-left: 20px;
}
.summershirt-img {
    width: 300px;
    height: 370px;
    margin: 30px;
    border: solid #ccc 1px;
    border-radius: 25px;
 }
 .summershirt-img img{
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
 }
 .summershirt-img h2{
    position: relative;
    bottom: 25px;
    left: 19px;
    font-size: x-small;
    color: rgb(145, 142, 142);
 }
 .summershirt-img p{
    position: relative;
    bottom: 37px;
    left: 16px;
    font-weight: bold;
    font-size: small;
    color: black;
 }
.ssstar-icon .fa-star{
    position: relative;
    bottom: 47px;
    left: 16px;
}
.shirt-price{
    position: relative;
    bottom: 65px;
    left: 16px;
    color: rgb(19, 147, 138);
    display: flex;
    justify-content:space-between;
}
.iconbtn {
    position: relative;
    /* width: 30px; */
    right: 30px;
    bottom: 30px;
    background-color: rgb(93, 207, 169);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-style: hidden;
    align-items: center;
    /* justify-content: center; */
    /* bottom: 20px;
    right: 10px; */
    /* justify-content: center; */
    /* top: 20px;
    bottom: 0px;
    right: 45px; */
    /* color: rgb(19, 147, 138);
    background-color: aquamarine;
    border-radius: 50%;
    width: 50px;
    height: 50px; */
    /* border-style: hidden; */
}
/* .summershirtsrow1,.summershirtsrow2 style ends here */ 
/* banner2 starts here */
.banner2part img{
    position: relative;
    width: 100%;
    height: 250px;
    bottom: 60px;
}
span{
    position: relative;
    bottom: 300px;
    left: 700px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
span h2{
    position: relative;
    margin-top:50px;
    right: 20px;
    bottom: 20px;
    color: aliceblue;
    font-size: medium;
}
span p{
    position: relative;
    color: aliceblue;
    bottom: 50px;
    font-size: 45px;
    right: 350px;
}
span button{
    position: relative;
    color: whitesmoke;
    color: black;
    margin-top: 9px;
    font-size: 10px;
    bottom: 90px;
    width: 100px;
    height: 35px;
    right: 50px;
    border-radius: 5px;
}
/* banner2 style ends here */
.info1{
    /* position: absolute;
    text-align: center;
    left: 530px;
    font-weight: bold; */
    position: absolute;
    top:2369px ;
    /* bottom: 356px; */
    right: 100px;
    text-align: center;
    background-color: white;
    width: 100%;
    height:0px;
    display: flex;
}
/* info1 ends here */

.offers{
    display: flex;
    margin-left: 40px;
    position: absolute;
    top: 3450px;
    color: white;
    background-color: white;
    width: 1450px;
    height:900px;
    padding: 50px;
    gap: 25px;
}
.bgimage img{
    margin: 0px 10px 0px 0px;
    height: 350px;
    width: 600px;
}
.offerp0{
    position: absolute;
    top: 100px;
    left: 70px;
    font-size: small;
    color: white;
}
.offers h1{
    position: absolute;
    top:100px;
    left: 70px;
    font-size: xx-large;
    color: white;
}
.offers .offerh1{
    position: absolute;
    top:100px;
    left: 700px;
    font-size: xx-large;
    color: white;
}
.offerp2{
    position: absolute;
    top: 100px;
    left: 700px;
    color: white;
    font-size: small;
}
.offerp1{
    position: absolute;
    top:165px;
    left: 70px;
    color: white;
    font-size:small;
}
.offerp3{
    position: absolute;
    top: 160px;
    left: 700px;
    color: white;
    font-size: small;
}
.offerbtn1{
    position: absolute;
    top:185px;
    left:40px;
    border: 1px solid white;
    background-color:transparent;
    padding: 10px 20px;
    color: white;
}
.offerbtn1:hover{
    color: black;
    background-color: rgb(251, 242, 212);
    border-style: hidden;
}
.offerbtn2{
    position: absolute;
    top:185px;
    left:700px;
    border: 1px solid white;
    background-color:transparent;
    padding: 10px 20px;
    color: white;
}
.offerbtn2:hover{
    color: black;
    background-color: rgb(28, 158, 128);
    border-style: hidden;
}
/* sales part starts here */
.bgsales{
    position: absolute;
    top:3900px;
    background-color: white;
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    color: white;
    margin:5px;
    justify-content:space-around;
}
.bgimgsales1 img{
    /* position: absolute;
    margin-left: 0px; */
    width: 350px;
    height: 190px;
}
.bgimgsales1 h1{
    position: absolute;
    top:80px;
    left:65px;
}
.bgimgsales1 p{
    position: absolute;
    top:120px;
    left:65px;
    color: maroon;
    font-weight: bold;
    font-size: small;
}
.bgimgsales2 img{
   width: 400px;
   height: 190px;
   /* padding-right: 100px; */
}
.bgimgsales2 h1{
    position: absolute;
    top:50px;
    left:460px;
}
.bgimgsales2 p{
    position: absolute;
    top:140px;
    left:463px;
    color: maroon;
    font-weight: bold;
    font-size: small;
}
.bgimgsales3 img{
    width: 400px;
    height: 190px;
    padding-right: 250px;
 }
 .bgimgsales3 h1{
     position: absolute;
     top:75px;
     left:905px;
 }
 .bgimgsales3 p{
     position: absolute;
     top:125px;
     left:905px;
     color: maroon;
     font-weight: bold;
     font-size: small;
 }
 /*  sales ends here*/
 /* banner3 starts here */
 .banner3{
    position: absolute;
    top:4200px;
    background-color: rgb(11, 11, 49);
    width: 100%;
    height:150px;
    display: flex;
    /* padding-right: 50px; */
    }
    .banner3 img{
        position: absolute;
        top:-150px;
        padding-left: 150px;
    }
    .banner3 h3{
        position: absolute;
        top: 15px;
        color: whitesmoke;
        padding-left:50px;
        /* padding:2px; */
    }
    .sinnup p{
        position: absolute;
        top:60px;
        color: whitesmoke;
        padding-left:50px;
        font-size: small;
    }
    .b3text{
        position: relative;
        top:55px;
        padding-left:340px;
        /* right: 1500px; */
        font-size: small;
        color: rgb(255, 255, 103);
        
    }
    .banner3 input{
        position: absolute;
        top: 50px;
        padding: 10px;
        left: 950px;
        width:300px;
    }
    .banner3 button{
        position: absolute;
        top: 20px;
        padding: 14px;
        left:1228px;
        border-right: 0cm;
        background-color:rgb(28, 158, 128);
        color: white;
    }
    /* banner3 ends */
    /* footer starts */
    .ftr{
        display: flex;
        align-items: center;
        height: 50px;
        justify-content:space-evenly;
        position: absolute;
        top:4340px;
        background-color:lightgrey;
        width:100%;
        height:450px;
        margin-top: 10px; 
        padding: 0px 20px;
        font-size: small;
    }
.ftr a{
   text-decoration: none;
   color: rgb(121, 123, 125);
}
.contact{
    border-color: rgb(228, 228, 228);
    border-style:hidden;
    width:350px;
    height:300px;
    justify-content: space-evenly;
    
}
.aboutus, .account{
    border-color: rgb(228, 228, 228); 
    border-style:hidden;
    width:150px;
    height:300px;
           
}
.install{
    border-color: rgb(228, 228, 228); 
    border-style:hidden;
    width:350px;
    height:300px;
    
}
.contact h6, #follow{
    color: rgb(117, 119, 121);
}
.install img{
border-radius: 5px;
justify-content: center;
}
.install h6,p{
    color: rgb(117, 119, 121);
}
